.sizer
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center !important; 
    align-items: center !important;
    font-family: Josefin Sans;
}
.sizer1
{
    padding: 60px;
}
@media screen and  (max-width: 590px){
    .mt-2{
        width: 320px !important;
    }
}
/* parth */